body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

/* animation */
/* .carousel .list .item:nth-child(1){
  z-index: 1;
} */

/* animate the text */
/* .carousel .list .item:nth-child(1)  .content .welcome,
.carousel .list .item:nth-child(1)  .content .topic,
.carousel .list .item:nth-child(1)  .content .des,
.carousel .list .item:nth-child(1)  .content .Button{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards ;
}

@keyframes showContent{
  to{
    transform: translateY(-50px); */
    /* transform: translateY(0px); */
    /* filter: blur(0px);
    opacity: 1;
  }
}

.carousel .list .item:nth-child(1) .content .welcome{
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .Button{
  animation-delay: 1.8s !important;
} */

/* create animation when next clicks */
 /* .carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
} */

/* .animate-outwards{
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to{
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
} */

/* .carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail 0.5s linear forwards;
}

@keyframes showThumbnail {
  from{
    width: 0;
    opacity: 0;
  }
} */

/* .carousel.prev .list .item img {
  z-index: 100;
}

.carousel.next .thumbnail {
  animation: effectNext 0.5s linear forwards;
}

@keyframes effectNext {
  from{
    transform: translateX(150px);
  }
} 

/* running time */
/* @keyframes showTime {
  from{width: 100%;}
  to{width: 0%;}
} 

 .carousel.next .item,
 .carousel.prev .item{
  animation: showTime 3s linear 1 forwards;
}  */

/* when prev button is clicked */
/* .carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

@keyframes outFrame {
  to{
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes contentOut {
  to{
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.prev .list .item:nth-child(2) .content .welcome,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .Button{
  animation: contentOut 1.5s linear 1 forwards !important;
} */